/* Styling for HW-03 Goes in this File */
/* 60/40 colummn link: https://codepen.io/catheraaine/pen/QNgoEX */

body {
	font-family: Arial;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row;
}
.left {
	width: 60%;
	padding: 20px;
}
.right {
	width: 40%;
	padding: 20px;
}
svg {
	stroke: black;
	height: 2000px;
	width: 2000px;
}

svg line {
	stroke-width:4px;
}

.highlight {
	fill: red;
	r: 6;
}
.selected {
	stroke: black;
	stroke-width: 2;
}